@import "tailwindcss";

@theme {
  --color-primary: #471396;
  --color-secondary: #B13BFF;
  --color-accent: #FFCC00;
  --color-background: #090040;
  --color-text: #333333;


  --breakpoint-mobile-s: 305px;
  --breakpoint-mobile-m: 375px;
  --breakpoint-mobile-l: 425px;
}